<div id="summary">
<h2>Nutrition Summary</h2>
<div bar-chart data='summaryData' ></div>
</div>

<div id="details">
<h2>Food Entries</h2>
<!-- 
<div class="exp-details" ng-repeat="food in foods">
        <div class="col-sm-1">{{$index+1}} </div>
        <div class="col-sm-3">{{food.category}} </div>
        <div class="col-sm-3"> {{food.description}}</div>
        <div class="col-sm-2">{{food.amount}} </div> 
        <div class="col-sm-1"><span ng-click="remove(food)">delete</span></div>
</div>
 -->
 put a calendar here that updates the chart/links to edit page?
</div>

