<div class="container">
    <h1 class="headline">Add<span ng-show="food.$remove">/Edit</span> food</h1>
    <div class="block">
    <form name="myForm">
      <div class="control-group">
        <!--<label>Name</label>-->
        <input type="text" ng-model="food.name" placeholder="Name.."/>
      </div>

      <!--<label>Calories</label>-->
      <input type="text" ng-model="food.calories" placeholder="Calories.."/>
      <input type="text" ng-model="food.servingSize" placeholder="Serving Size.."/>
      <input type="text" ng-model="food.fat" placeholder="Fat.."/>
      <input type="text" ng-model="food.cholesterol" placeholder="Cholesterol.."/>
      <input type="text" ng-model="food.carbohydrates" placeholder="Carbs.."/>
      <input type="text" ng-model="food.protein" placeholder="Protein.."/>
      <input type="text" ng-model="food.sodium" placeholder="Sodium.."/>
      
      <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
      <button ng-click="destroy()" ng-show="food.$remove" class="btn btn-danger">Delete</button>
      <a href="#/" class="btn">Cancel</a>
    </form>
  </div>
</div>