  <div class="container" ng-controller="favoriteFoodCtrl">

  <div layout="row" flex>
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">
        <div ng-controller="SampleCtrl" layout="column" ng-cloak class="sm-inline-form"> 
          <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email" type="email">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="user.password" type="password">
            </md-input-container>
            <md-button ng-show="!isLoggedIn" class="md-raised md-primary md-ink-ripple" ng-click="login()">Log in</md-button>
            <md-button ng-show="!isLoggedIn" class="md-raised md-ink-ripple" ng-click="createUser()">Create User</md-button>
            <md-button ng-show="isLoggedIn" class="md-raised md-primary md-ink-ripple" ng-click="logout()">Log out</md-button>
            <md-button ng-show="isLoggedIn" class="md-raised md-warn md-ink-ripple" ng-click="removeUser()">Remove User</md-button>
          </md-content>

          <p ng-if="message">Message: <strong>{{ message }}</strong></p>
          <p ng-if="error">Error: <strong>{{ error }}</strong></p>

        </div>
      </md-content>
    </div>
  </div>

      <h1 class="headline">Fav Foods Hi</h1>
      <div class="block">


  <!-- FORM-->
  <form name="ctrl.foodForm"
        novalidate>

    <div>
      <input type="text"
             ng-model="ctrl.name"
             required />
    </div>

    <!-- ADD button -->
    <div>
      <button ng-click="ctrl.addFood()"
              ng-disabled="ctrl.foodForm.$invalid"
              class="btn">Add a New Food</button>
    </div>
  </form>

  <!-- FOOD LIST -->
  <ul class="list-group">

    <li ng-repeat="t in ctrl.foodList"
        class="list-group-item">

      <!-- food info -->
      <h3>{{t.name}}</h3>
<!--       <em>({{t.date | date:'longDate'}})</em> -->

      <!-- remove button -->
      <span class="remove"
            ng-click="ctrl.removeItem(t)"
            style="cursor:pointer"></span>
    </li>
  </ul>


<!--       <input type="text" ng-model="newName" class="third" placeholder="Name.." />
      <input type="text" ng-model="newCalories" class="third" placeholder="Calories.." />
      <select class="third dropdown ddmenu" ng-model="newCategory" name="selectThis" id="selectThis">
        <option value="">Category</option>
        <option value="protien">Protein</option>
        <option value="fat">Fat</option>
        <option value="carb">Carb</option>
        <option value="sugar">Sugar</option>
      </select>
      <button ng-click="addFavoriteFood()" class="food">Add a New Food</button>
      <input type="text" ng-model="query.name" class="search" placeholder="Search foods.." />
      
      <ul class="title">
        <li class="no-hover">Food Name<span>Calories</span></li>
      </ul>
      <div id="food-list" >
        <ul>
          <li ng-repeat="food in foods | filter: query | orderBy: orderList" ng-class="{odd: $odd, f: friend.gender == 'female', m: friend.gender == 'male'}"><img class="user-image" ng-src="{{food.image}}"/>{{food.name}}<span>{{food.calories}}</span></li>
        </ul>
      </div> -->
      </div>
      <a href="#" class="btn btn-primary btn-lg">Home</a>
      <a href="#add-food" class="btn btn-success btn-lg">Add Food</a>
      <a href="#activity" class="btn btn-success btn-lg">Activity</a>

  </div>