<div class="container">
  <h1 class="headline">Fav Foods</h1>
  <div class="block">
    <input type="text" ng-model="search" class="search-query" placeholder="Search"/>
    <button ng-click="reverse()" class="food">Reverse Order</button>
    <ul class="title">
      <li class="no-hover">Food Name<a href="#/new"><span class="icon-plus"></span></a></li>
    </ul>
      <div id="food-list" >
        <ul>
          <li ng-repeat="food in foods | orderByPriority | filter:search | orderBy: orderList" ng-class="{odd: $odd}" ng-init="$parent.itemCount = $count"><img class="user-image" ng-src="{{'img/png/food-'+$index+'.png'}}"/>{{food.name}}<span><a href="#/edit/{{food.$id}}"><i class="icon-pencil"></i></a></span></li>
        </ul>
      </div>
  </div>
</div>