  <div class="container" ng-controller="favoriteFoodCtrl">

      <h1 class="headline">Food</h1>
      <div class="block">
      <input type="text" ng-model="newName" class="third" placeholder="Name.." />
      <input type="text" ng-model="newCalories" class="third" placeholder="Calories.." />
<!--       <input type="select" ng-model="newGender" class="third" placeholder="Category..">
        <option value="carb">Carb</option>
      </select> -->
      <select class="third dropdown ddmenu" ng-model="newCategory" name="selectThis" id="selectThis">
        <option value="">Category</option>
        <option value="protien">Protein</option>
        <option value="fat">Fat</option>
        <option value="carb">Carb</option>
        <option value="sugar">Sugar</option>
      </select>
      <button ng-click="addFavoriteFood()" class="food">Add a New Food</button>
      <input type="text" ng-model="query.name" class="search" placeholder="Search foods.." />
      
      <ul class="title">
        <li class="no-hover">Food Name<span>Calories</span></li>
      </ul>
      <div id="food-list" >
        <ul>
          <li ng-repeat="food in foods | filter: query | orderBy: orderList" ng-class="{odd: $odd, f: friend.gender == 'female', m: friend.gender == 'male'}"><img class="user-image" ng-src="{{food.image}}"/>{{food.name}}<span>{{food.calories}}</span></li>
        </ul>
      </div>
      </div>
      <a href="#" class="btn btn-primary btn-lg">Home</a>
      <a href="#add-food" class="btn btn-success btn-lg">Add Food</a>
      <a href="#activity" class="btn btn-success btn-lg">Activity</a>

  </div>